.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 7%;
    transition: 0.5s;
}
.title h1{
    font-weight: 700;
    font-size: 40px;
    margin-left: 50px;
    color: white;
}
#current-time{
    font-size: 20px;
    color: #fff;
}
img{
    height: 40px;
    cursor: pointer;
    margin-right: 100px;
}
.dark .navbar{
    background: #000;
    color: #fff;
}
.light h1{
    color: #000;
}
.light #current-time{
    color: #000;
}